.header__lang-link{
    font-size: 24px;
    Line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 18px;
}

.header__lang-link:hover{
    text-decoration: underline;
}

@media screen and (max-width:767px) {
    .header__lang-link {
        font-size: 18px;
        Line-height: 20px;
    }
}

