.photo-grid__item{
    max-height: 213px;
    max-width: 284px;
}

@media screen and (max-width:1279px) {
   .photo-grid__item{
        max-height: 300px;
        max-width: 225px;
}
}

@media screen and (max-width:1023px){
    .photo-grid__item{
        max-height: 352px;
        max-width: 264px;
}
}

@media screen and (max-width:767px){
    .photo-grid__item{
        max-height: 288px;
        max-width: 216px;
}
}