.cover{
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-position: center;
    max-width:1184px;
    min-height:740px;
    margin: 0 auto;
}
@media screen and (max-width:1279px) {
    .cover{
        max-width:1024px;
        min-height:640px;
    }
}

@media screen and (max-width:1023px){
   .cover{
        max-width:100%;
        min-height:480px;
    }
}

@media screen and (max-width:424px){
   .cover{
        min-height: 200px;
    }
}