.cover__overlay{
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: rgba(42, 44, 47, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:740px;
}

.cover__overlay:hover{
    background: rgba(42, 44, 47, .8);
}

@media screen and (max-width:1279px) {
    .cover__overlay{
        min-height:640px;
    }
}

@media screen and (max-width:1023px){
   .cover__overlay{
        min-height:480px;
    }
}

@media screen and (max-width:424px){
   .cover__overlay{
        min-height: 200px;
    }
}