.lead__caption{
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    max-width: 984px;
    margin: 8px 0 0;
}

@media screen and (max-width:1279px) {
    .lead__caption{
    }
}

@media screen and (max-width:1023px){
   .lead__caption{
        padding-left: 24px;
    }
}

@media screen and (max-width:767px){
   .lead__caption{
       padding-left: 16px;
    }
}