.place{
    max-height: 660px;
    max-width: 984px;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 1fr 460px;
    column-gap: 40px;
    row-gap: 48px;
}

.place:last-child{
    margin-bottom: 0;
}

@media screen and (max-width:1279px) {
    .place{
        max-width: 928px;
        margin: 0 auto 80px;
        grid-template-columns: 440px 456px;
        grid-template-rows: 1fr 440px;
        column-gap: 32px;
    }
}

@media screen and (max-width:1023px){
    .place{
        max-width: 720px;
        margin: 0 auto 80px;
        grid-template-columns: 340px 352px;
        grid-template-rows: 1fr 1fr;
        column-gap: 28px;
    }
}

@media screen and (max-width:767px){
    .place{
        display: flex;
        flex-direction: column;
        max-width: 320px;
        margin: 0 auto 50px;
        max-height: 1200px;
        gap:0;

    }
}